html, body{
	margin: 0;
	padding: 0;
	background: #dedede;
	min-height: 100%;
}

.header{
	width: 100%;
	height: 50px;
    background: #f7f7f7;
    box-shadow: 0px 0px 5px #b5b5b5;
}

.form_options h4{
    padding: 6px 15px;
    margin: 20px 2px;
    font-family: 'Roboto';
    border-radius: 5px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 2px rgba(123, 123, 123, 0.49);
    display: inline-block;
    color: #2f2a2a;
}

.form_options h4.active_selection {
    background: #2e2a2a;
    color: white;
}

.signup_holder div input{
	padding: 0px 35px;
    margin: 3px 0px;
    width: 400px;
    max-width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #cecece;
    color: #2f2a2a;
    outline: none;
    background: transparent;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
}

.signup_holder div.inputwithText{
    height: 37px;
}

.signup_holder div svg{
    font-size: 20px;
    color: #2f2a2a;
    display: block;
    position: relative;
    bottom: 29px;
    left: 120px;
}

.signup_holder button{
    padding: 5px 30px;
    border: 0px;
    border-radius: 5px;
    background: #2f2a2a;
    color: white;
    font-family: 'Roboto';
    font-weight: 450;
    font-size: 14px;
    margin: 5px 0px;
    outline: none;
}

.signup_holder h3{
    font-family: 'Roboto';
    font-weight: 610;
    font-size: 12px;
    padding: 0;
    margin: 0;

}

.signup_holder h4{
    font-family: 'Roboto';
    font-weight: 510;
    font-size: 12px;
    padding: 0;
    margin: 5px 0px;
}

.login_holder div input{
    padding: 0px 35px;
    margin: 3px 0px;
    width: 400px;
    max-width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #cecece;
    color: #2f2a2a;
    outline: none;
    background: transparent;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
}

.login_holder div.inputwithText{
    height: 37px;
}

.login_holder div svg{
    font-size: 2px;
    color: #2f2a2a;
    display: block;
    position: relative;
    bottom: 29px;
    left: 120px;
}

.login_holder button{
    padding: 5px 30px;
    border: 0px;
    border-radius: 5px;
    background: #2f2a2a;
    color: white;
    font-family: 'Roboto';
    font-weight: 450;
    font-size: 14px;
    margin: 5px 0px;
    outline: none;
}

.login_holder h3{
    font-family: 'Roboto';
    font-weight: 610;
    font-size: 12px;
    padding: 0;
    margin: 0;

}

.login_holder h4{
    font-family: 'Roboto';
    font-weight: 510;
    font-size: 12px;
    padding: 0;
    margin: 5px 0px;
}

html, body{
	margin: 0;
	padding: 0;
	background: #dedede;
	min-height: 100%;
}

.header{
	width: 100%;
	height: 50px;
    background: #f7f7f7;
    box-shadow: 0px 0px 5px #b5b5b5;
}

.form_holder{
    width: 700px;
    height: 500px;
    border: 1px solid #b1b1b1;
    box-shadow: 0px 0px 3px #b5b5b5;
    background: #f8f7f7;
    margin: 35px auto;
    text-align: center;
}

.form_options h4{
    padding: 6px 15px;
    margin: 20px 2px;
    font-family: 'Roboto';
    border-radius: 5px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 2px rgba(123, 123, 123, 0.49);
    display: inline-block;
    color: #2f2a2a;
}

.form_options h4.active_selection {
    background: #2e2a2a;
    color: white;
}


.footer_menu{
    width: 700px;
    margin: 0 auto;
    text-align: center;

}

.footer_menu div.footer_column{
    text-align: center;
    float: left;
    width: 33%;
}


.footer_menu div.footer_column .selection_name{
    width: 100%;
}

.footer_menu div.footer_column div h4{
    text-decoration: none;
    color: #929292;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 8px;
}




.footer_menu div.footer_column  div a{
    text-decoration: none;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 480;
    margin: 0;
    padding: 0;
    color: #989898;
}

.footer_menu div.footer_column img.language_globe{
    width: 30px;
}


@media only screen and (max-width: 700px) {
    .form_holder, .footer_menu{
        width: 500px;
    }

}

@media only screen and (max-width: 500px) {
    .form_holder, .footer_menu{
        width: 400px;
    }


    .footer_menu div.footer_column {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .form_holder, .footer_menu{
        width: 300px;
    }
}

