html, body{
    margin: 0;
    padding: 0;
    background: #fbfbfb;
    min-height: 100%;
}

.header{
    width: 100%;
    display: inline-block;
    background: #fefefe;
    border-bottom: 1px solid #ded9d9;
    position: fixed;
    z-index: 1;
}

/** TOP HEADER **/
.header .top{
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #babbbb;
}

.header .top div.right{
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    padding-bottom: 7px;
}

.header .top div.right a{
    padding: 5px 10px;
    margin: 0px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    border: 2px solid #ffffff00;
    color: #555454;
    cursor: pointer;
}

.header .top div.right a.signup{
    background: #555454;
    color: #ffffff;
}

/** BOTTOM HEADER **/
.header .bottom{
    display: inline-block;
    width: 100%;
}

.header .bottom div.left{
    display: inline-block;
    float: left;
    margin-top: 5px;
    padding-bottom: 7px;
    margin-left: 30px;
}

.header .bottom div.left a{
    padding: 5px 10px;
    margin: 0px;
    font-family: 'Roboto';
    font-weight: 450;
    font-size: 13px;
    color: #555454;
    border: 2px solid #ffffff00;
    cursor: pointer;
}

.header .bottom div.left input.search_content{
    padding: 5px 0px;
    padding-left: 40px;
    padding-right: 15px;
    width: 140px;
    border: 1px solid #b9bbbb;
    border-radius: 15px;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 580;
    color: #555454;
    outline: none;
    transition: all, .35s;
   
}

.header .bottom div.left input.job_search{
    background-image: url(assets/images/case_img.png);
    background-position: 7px -2px;
    background-size: 24px 29px;
    background-repeat: no-repeat;
}

.header .bottom div.right{
    display: inline-block;
    float: right;
    margin-top: 5px;
    padding-bottom: 7px;
    margin-right: 30px;
}

.header .bottom div.right a{
    padding: 5px 10px;
    margin: 0px;
    font-family: 'Roboto';
    font-weight: 450;
    font-size: 13px;
    color: #555454;
    border: 2px solid #ffffff00;
    cursor: pointer;
}

.header .bottom div.right a.language{
    border-left: 1px solid #bbbbbb;
}

.header .bottom div.right img.language_globe{
    width: 15px;
    position: relative;
    top: 3px;
}

/* SIDE BAR */
.sidebar_holder{
    width: 230px;
    position: fixed;
    margin-left:  50%;
    left: -500px;
    top: 100px;
    border-radius: 5px;
    padding: 6px 10px;
    background: #fefefe;
    border: 1px solid #ded9d9;
}

.sidebar_holder div b.title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #5a5a5a;
    width: 100%;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
}

.sidebar_holder .recent_searches ul{
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
}

.sidebar_holder .recent_searches ul a{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    background: #555454;
    margin: 3px 2px;
    padding: 4px 6px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

.sidebar_holder div.filters div{
    display: inline-block;
}

.sidebar_holder div.filters div a{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    margin: 3px 0px;
    padding: 4px 6px;
    color: #ffffff;
    background: #555454;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    user-select: none;  
}

.filter_search div b.smaller_title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    color: #5a5a5a;
    user-select: none;
    display: inline-block;
    margin: 5px 0px;
}

.filter_search div b.v2smaller_title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
    color: #5a5a5a;
    user-select: none;
}

.filter_search div input.company_filter_search{
    width: 70%;
    transition: all .25s;
    color: #312a2a;
    padding: 5px 10px;
    margin: 5px 0px;
    font-family: 'Roboto';
    font-weight: 450;
    outline: none;
    border: 1px solid #cccacb;
    background: #f3f3f3;
    border-radius: 5px;
}

.filter_search div input.company_filter_search:focus{
    width: 90%;
}

.filter_search div b.center{
    display: block;
    text-align: center;
}

.filter_search div div.distance_slider{
    width: 100%;
    height: 1px;
    background: #969998;
    margin: 10px 0px;
}

.filter_search div div.distance_slider div.circle{
    width: 10px;
    height: 10px;
    background: #555454;
    border-radius: 50px;
    position: relative;
    bottom: 6px;
    border: 1px solid #fefefe;
    cursor: pointer;
}

.filter_search div.experience a{
    padding: 1px 3px;
    background: #969998;
    color: #ffffff;
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.filter_search div.experience a.active{
    background: #555454;
    cursor: default;
}

.filter_search div div.toggle_button{
    width: 32px;
    height: 10px;
    background: #959998;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

.filter_search div div.toggle_button .inner_circle{
    width: 12px;
    height: 11px;
    background: #ffffff;
    border-radius: 50px;
    margin: 0px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.filter_search div div.toggle_button.active{
    background: #555454;
}

.filter_search div div.toggle_button.active .inner_circle{
    margin-left: 20px;
}


/* PAGE HOLDER */
.page_holder{    
    width: 700px;
    margin: auto;
    padding-left: 300px;
    padding-top: 100px;
}

.page_holder .search_container{
    width: 100%;
    height: 300px;
    background: #f3f3f3;
    border-bottom: 1px solid #ded9d9;
}

.page_holder .page_container{
    display: inline-block;
    width: 100%;
}


/* JOB LISTINGS */
.employer_holder {
    background: #fefefe;
    border: 1px solid #b9bbbb;
    border-radius: 5px;
    padding: 6px 10px;
    margin: 5px;
}

.employer_holder a.employer_sponsored{
    font-family: 'Roboto';
    text-decoration: none;
    color: #555454;
    font-weight: 570;
    font-size: 13px;
    display: inline-block;
}

.employer_holder a.employer_name{
    font-family: 'Roboto';
    text-decoration: none;
    color: #3d76c2;
    font-weight: 570;
    font-size: 16px;
    display: inline-block;
    margin:  1px;
}

.employer_holder div.employer_description{
    font-family: 'Roboto';
    text-decoration: none;
    color: #322a2a;
    font-weight: 550;
    font-size: 13px;
    display: inline-block;
    margin: 0px 5px;
}

.job_holder {
    background: #fefefe;
    border: 1px solid #b9bbbb;
    border-radius: 5px;
    padding: 6px 10px;
    margin: 5px;
}

.job_holder a.job_sponsored{
    font-family: 'Roboto';
    text-decoration: none;
    color: #555454;
    font-weight: 570;
    font-size: 13px;
    display: inline-block;
}

.job_holder a.job_title{
    font-family: 'Roboto';
    text-decoration: none;
    color: #3d76c2;
    font-weight: 570;
    font-size: 16px;
    display: inline-block;
    margin:  1px;
}

.job_holder a.employer_name{
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 570;
    font-size: 12px;
    display: inline-block;
    padding: 1px 5px;
    color: #ffffff;
    background: #555454;
    border-radius: 5px;
}

.job_holder h3.job_location{
    margin: 0px;
    padding: 0px;
    color: #322a2a;
    font-family: 'Roboto';
    font-weight: 550;
    font-size: 12px;
    display: inline-block;
}

.job_holder div.job_description{
    font-family: 'Roboto';
    text-decoration: none;
    color: #322a2a;
    font-weight: 550;
    font-size: 13px;
    display: inline-block;
    margin: 0px 5px;
}



/** Footer **/
.footer_menu{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.footer_menu .company_logo{
    height: 60px;
    user-select: none;
}

.footer_menu div.footer_column{
    text-align: center;
    float: left;
    width: 33%;
}

.footer_menu div.footer_column .selection_name{
    width: 100%;
}

.footer_menu div.footer_column div h4{
    text-decoration: none;
    color: #929292;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 8px;
}

.footer_menu div.footer_column  div a{
    text-decoration: none;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 480;
    margin: 0;
    padding: 0;
    color: #989898;
}

.footer_menu div.footer_column img.language_globe{
    width: 30px;
}