html, body {
	margin: 0;
	padding: 0;
	background: url('bg.png');
	min-height: 100%;
	font-family: 'Roboto';
}



/* TOP LINE */
.topLine {
	padding-left: 18px;
	height: 65px;
	border-bottom: solid 1px #666;
	padding-top: 15px;
}

.topLine .logoFrame {
	border-right: solid 1px #666;
	float: left;
	padding-right: 30px
}

.topLine img {
	height: 50px;
	
}
.icon:hover {
background: green;
}

/* STICKY FOOTER */
.sticky_footer {
	height: 70px;
	width: 100%;
	position: fixed;
	bottom: 0;
	border-top: solid 1px #666;
	background: #333;

}

.sticky_footer .inner {
	max-width: 400px;
	margin: 0 auto;
}

.sticky_footer a {
	
	display: block;
	float: left;
	width: 25%;
	height: 60px;

	text-align: center;
	text-decoration: none;

	font-size: 10px;
	color: white;
}

.sticky_footer a img{
	height: 30px;
	display: block;
	margin: 10px auto;
	width: 35px;
	display: block;
	margin: 100px 3px;
    padding: 0px 110px;
    align-self: center;
  }


/*# Desktop*/
@media (min-width: 992px){
	.sticky_footer {
		display: none;
	}
}
	
 

.home{
  	color: white;
    position: absolute;
    top: 0px;
    left: 120px;
  }