.Heading {
	font-family: 'Roboto';
	color: #fffff1;
	background-color: blue ; 
	text-align: center;
    bottom: 6000px;
    border-color: yellow;
    background-image:  https://cdn.modernfarmer.com/wp-content/uploads/2014/09/innercowhero.jpg;

}


.style_example {
	font-family: 'Roboto';
	color: yellow;
	font-size: 600px;
}
.html {
	background-color: #171a21;
}
