.header{
    width: 100%;
    display: inline-block;
    background: #fefefe;
    border-bottom: 1px solid #ded9d9;
    position: fixed;
    z-index: 1;
}

/** TOP HEADER **/
.header .top{
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #babbbb;
}

.header .top div.right{
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    padding-bottom: 7px;
}

.header .top div.right a{
    padding: 5px 10px;
    margin: 0px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    border: 2px solid #ffffff00;
    color: #555454;
    cursor: pointer;
    text-decoration: none;
}

.header .top div.right a.signup{
    background: #555454;
    color: #ffffff;
}

/** BOTTOM HEADER **/
.header .bottom{
    display: inline-block;
    width: 100%;
}

.header .bottom div.left{
    display: inline-block;
    float: left;
    margin-top: 5px;
    padding-bottom: 7px;
    margin-left: 30px;
}

.header .bottom div.left a{
    padding: 5px 10px;
    margin: 0px;
    font-family: 'Roboto';
    font-weight: 450;
    font-size: 13px;
    color: #555454;
    border: 2px solid #ffffff00;
    cursor: pointer;
}

.header .bottom div.left input.search_content{
    padding: 5px 0px;
    padding-left: 40px;
    padding-right: 15px;
    width: 140px;
    border: 1px solid #b9bbbb;
    border-radius: 15px;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 580;
    color: #555454;
    outline: none;
    transition: all, .35s;
   
}

.header .bottom div.left input.job_search{
    background-image: url(jobquery/client/images/icons/case_img.png);
    background-position: 7px -2px;
    background-size: 24px 29px;
    background-repeat: no-repeat;
}

.header .bottom div.right{
    display: inline-block;
    float: right;
    margin-top: 5px;
    padding-bottom: 7px;
    margin-right: 30px;
}

.header .bottom div.right a{
    padding: 5px 10px;
    margin: 0px;
    font-family: 'Roboto';
    font-weight: 450;
    font-size: 13px;
    color: #555454;
    border: 2px solid #ffffff00;
    cursor: pointer;
}

.header .bottom div.right a.language{
    border-left: 1px solid #bbbbbb;
}

.header .bottom div.right img.language_globe{
    width: 15px;
    position: relative;
    top: 3px;
}