html, body{
    margin: 0;
    padding: 0;
    background: #fbfbfb;
    min-height: 100%;
}

/* TOP BAR */
.topbar-holder{
    width: 100%;
    height: 200px;
    background: #fefefe;
    border-bottom: 1px solid #ded9d9;
    position: fixed;
    margin-top: 70px;
}

/* SIDE BAR */
.sidebar_holder{
    width: 230px;
    position: fixed;
    margin-left:  50%;
    left: -500px;
    top: 100px;
    border-radius: 5px;
    padding: 6px 10px;
    background: #fefefe;
    border: 1px solid #ded9d9;
}

.sidebar_holder div b.title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #5a5a5a;
    width: 100%;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
}

.sidebar_holder div.filters div{
    display: inline-block;
}

.sidebar_holder div.filters div a{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    margin: 3px 0px;
    padding: 4px 6px;
    color: #ffffff;
    background: #555454;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    user-select: none;  
}

.filter_search div b.smaller_title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    color: #5a5a5a;
    user-select: none;
    display: inline-block;
    margin: 5px 0px;
}

.filter_search div b.v2smaller_title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
    color: #5a5a5a;
    user-select: none;
}

.filter_search div input.company_filter_search{
    width: 90%;
    transition: all .25s;
    color: #312a2a;
    padding: 5px 10px;
    margin: 5px 0px;
    font-family: 'Roboto';
    font-weight: 450;
    outline: none;
    border: 1px solid #cccacb;
    background: #f3f3f3;
    border-radius: 5px;
}

.filter_search div b.center{
    display: block;
    text-align: center;
}

.filter_search div div.distance_slider{
    width: 100%;
    height: 1px;
    background: #969998;
    margin: 10px 0px;
}

.filter_search div div.distance_slider input::-moz-range-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.filter_search div div.distance_slider input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

/*.filter_search div div.distance_slider div.circle{
    width: 10px;
    height: 10px;
    background: #555454;
    border-radius: 50px;
    position: relative;
    bottom: 6px;
    border: 1px solid #fefefe;
    cursor: pointer;
}
*/
/*.filter_search div div.distance_slider div.circle::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #555454;
    border-radius: 50px;
    position: relative;
    bottom: 6px;
    border: 1px solid #fefefe;
    cursor: pointer;
}*/

.filter_search div.experience a{
    padding: 1px 3px;
    background: #969998;
    color: #ffffff;
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.filter_search div.experience a.active{
    background: #555454;
    cursor: default;
}

.filter_search div div.toggle_button{
    width: 32px;
    height: 10px;
    background: #959998;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

.filter_search div div.toggle_button .inner_circle{
    width: 12px;
    height: 11px;
    background: #ffffff;
    border-radius: 50px;
    margin: 0px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.filter_search div div.toggle_button.active{
    background: #555454;
}

.filter_search div div.toggle_button.active .inner_circle{
    margin-left: 20px;
}

/* PAGE HOLDER */
.page_holder{    
    width: 700px;
    margin: auto;
    padding-top: 100px;
}

.page_holder .search_container{
    width: 100%;
    height: 300px;
    background: #f3f3f3;
    border-bottom: 1px solid #ded9d9;
}

.page_holder .page_container{
    display: inline-block;
    width: 100%;
    margin-left: 0px;
}

.page_holder .recent_searches{
    border: 1px solid #ddd9da;
    background: #fefefe;
    padding: 6px 10px;
    margin-top: 3px;
    border-radius: 5px;
}

.page_holder .recent_searches b.title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #5a5a5a;
    width: 100%;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
}

.page_holder .recent_searches ul{
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
}

.page_holder .recent_searches ul a{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    background: #ededed;
    margin: 3px 2px;
    padding: 4px 6px;
    color: #555454;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

/* PAGE HOLDER */
.page_holder{    
    width: 700px;
    margin: auto;
    padding-left: 0px;
    padding-top: 100px;
}

.page_holder .user_container{
    width: 90%;
    padding-bottom: 120px;
    background: #ffffff;
    border: 1px solid #b9bbbb;
    border-radius: 5px;
    display: inline-block;
}

.page_holder .user_container .background_container{
    width: 100%;
    height: 180px;
    margin: 0 auto;
    background: #f5f5f5;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #b8bbbb;
}

.page_holder .user_container .profile_container{
    width: 150px;
    height: 150px;
    background: white;
    border: 1px solid #b9bbbb;
    border-radius: 10px;
    margin: -90px 40px;
}

.page_holder .user_container .name_container{
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: relative;
    left: 240px;
    top: 37px;
    max-width: 60%;
}

.page_holder .user_container .name_container b{
    font-family: 'Roboto';
    font-weight: 450;
    font-size: 16px;
    color: #383636;
}

.page_holder .user_container .rank_container{
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: relative;
    left: 250px;
    top: 40px;
    max-width: 60%;
}

.page_holder .user_container .rank_container svg{
    font-size: 10px;
    color: #3a72bd;
    border: 2px solid #3a72bf;
    border-radius: 15px;
    padding: 3px 3px;
}

.page_holder .user_container .description_container{
    padding: 5px;
    margin: 0px;
    display: inline-block;
    position: relative;
    left: 150px;
    top: 66px;
    max-width: 60%;
}

.page_holder .user_container .description_container b{
    font-family: 'Roboto';
    font-weight: 450;
    font-size: 14px;
    color: #525252;
}

.page_holder .bottom_header{
    display:  inline-block;
    width: 90%;
    padding-bottom: 20px;
    border-top: 1px solid #b8bbbb;
    margin-top: -50px;
}

.page_holder .bottom_header div.left{
    display: inline-block;
    float: left;
    margin: 0px 10px;
}

.page_holder .bottom_header div.left a{
    padding: 5px 10px;
    margin: 5px;
    font-family: 'Roboto';
    color: #525252;
    font-weight: 401;
    font-size: 14px;
    display: block;
    float: left;
    border: 2px solid #fff;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.page_holder .bottom_header div.left a.active{
    color: #ffffff;
    background: #3a71bc;
    border: 2px solid #315f9e;
    border-radius: 20px 30px 20px 30px;
}

.page_holder .bottom_header div.right{
    display: inline-block;
    float: right;
    margin: 0px 10px;
}

.page_holder .bottom_header div.right a{
    padding: 5px 10px;
    margin: 5px;
    font-family: 'Roboto';
    color: #525252;
    font-weight: 401;
    font-size: 14px;
    display: block;
    float: left;
    border: 2px solid #fff;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.page_holder .bottom_header div.right a.follow{
    border: 2px solid #dcd9da;
    background: #dcd9da;
    color: #525152;
    border-radius: 15px;
}


.page_holder .jobs_container{
    width: 100%;
    height: 300px;
    background: #ffffff;
    border: 1px solid #ded9d9;
    box-shadow: 0px 0px 5px #dcdcdc;
}


/* JOB LISTINGS */
.employer_holder {
    border: 1px solid #ddd9da;
    margin-top: 3px;
    border-radius: 5px;
    background: #fefefe;
    padding: 6px 10px;
}

.employer_holder div.column{
    display: inline-block;   
    height: 30px;   
    padding: 10px;
}

.employer_holder div.column b{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 600;
    color: #343434;
}

.employer_holder a.employer_sponsored{
    font-family: 'Roboto';
    text-decoration: none;
    color: #555454;
    font-weight: 570;
    font-size: 13px;
    display: inline-block;
}

.employer_holder a.employer_name{
    font-family: 'Roboto';
    text-decoration: none;
    color: #3d76c2;
    font-weight: 570;
    font-size: 14px;
    display: inline-block;
    margin:  1px;
}

.employer_holder div.employer_description{
    font-family: 'Roboto';
    text-decoration: none;
    color: #322a2a;
    font-weight: 550;
    font-size: 13px;
    display: inline-block;
    margin: 0px 5px;
}

.job_holder {
    border: 1px solid #ddd9da;
    background: #fefefe;
    padding: 6px 10px;
    margin-top: 3px;
    border-radius: 5px;
}

.job_holder div.column{
    display: inline-block;   
    height: 30px;   
    padding: 10px;
}

.job_holder div.column b{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 600;
    color: #343434;
}

.job_holder a.job_sponsored{
    font-family: 'Roboto';
    text-decoration: none;
    color: #555454;
    font-weight: 570;
    font-size: 13px;
    display: inline-block;
}

.job_holder a.job_title{
    font-family: 'Roboto';
    text-decoration: none;
    color: #3d76c2;
    font-weight: 570;
    font-size: 14px;
    display: inline-block;
    margin:  1px;
}

.job_holder a.employer_name{
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 570;
    font-size: 13px;
    display: inline-block;
    color: #3e2c2c;
    border-radius: 5px;
}

.job_holder h3.job_location{
    margin: 0px;
    padding: 0px;
    color: #322a2a;
    font-family: 'Roboto';
    font-weight: 550;
    font-size: 12px;
    display: inline-block;
}

.job_holder div.job_description{
    font-family: 'Roboto';
    text-decoration: none;
    color: #322a2a;
    font-weight: 550;
    font-size: 13px;
    display: inline-block;
    margin: 0px 5px;
}

.job_holder a.arrow{
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    padding: 3px;
    background: #555454;
    border-radius: 50px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto';
    color: #fefefe;
    cursor: pointer;
    outline: none;
    text-decoration: none;
} 

.job_holder a.s_arrow{
    background: #0071bc;
}

.employer_holder a.s_arrow{
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    padding: 3px;
    background: #0071bc;
    border-radius: 50px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto';
    color: #fefefe;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
